<div class="flex flex-col h-full">
  <div class="h-[40px] flex justify-between items-center mx-4">
    <div class="text-[14px] font-bold text-sky-900 dark:text-sky-700">
      {{ headerText() }}
    </div>
    <div class="text-[14px] font-bold text-sky-900 dark:text-sky-700">
      <a routerLink="/app/my-account"> {{ common()!.username }}</a>
    </div>
  </div>
  <div class="grow text-xs h-full">
    <div
      class="h-full border-l border-t app-border rounded-ss-[10px] bg-white dark:bg-zinc-500"
    >
      <div class="flex flex-col h-full">
        @if(showNav()){
        <div class="border-b app-border h-[40px] px-3 flex items-center">
          <ng-content select=".nav"></ng-content>
        </div>
        }
        <div class="grow h-full">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
