<app-page-wrapper [headerText]="'Scanning'" [showNav]="false">
  <div class="nav flex gap-2">
    <button class="default" (click)="listSharedDriveFiles()">
      Refresh <strong>Shared Drive </strong> folder files
    </button>
  </div>
  <div class="p-3 max-w-[700px]">
    <form [formGroup]="form">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <strong class="mb-1 block">Shared Drive</strong>
          <div class="mb-5">
            <!-- <input type="text" class="w-full" formControlName="sharedDrive" /> -->
            <select
              class="w-full"
              formControlName="sharedDrive"
              (change)="sharedDriveChanged($event)"
            >
              @for(d of sharedDrives(); track $index){
              <option [value]="d">{{ d }}</option>
              }
            </select>
          </div>
        </div>
        <div>
          <strong class="mb-1 block">Destination Drive</strong>
          <div class="mb-5">
            <input
              type="text"
              class="w-full"
              formControlName="destinationDrive"
              readonly
            />
          </div>
        </div>
        <div class="mb-5 col-span-2">
          <strong class="mb-1">Shared Drive Files</strong> (<span
            class="text-sky-500 cursor-pointer"
            (click)="listSharedDriveFiles()"
            >Refresh</span
          >)
          <table class="w-full mt-1">
            <thead>
              <tr>
                <th>File #</th>
                <th>Created Date</th>
                <th>File Name</th>
              </tr>
            </thead>
            <tbody>
              @for(file of sharedFolderFiles(); track $index; let i = $index){
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ file.info | date : "dd/MM/yy HH:mm" }}</td>
                <td>{{ file.file }}</td>
              </tr>
              } @empty {
              <tr>
                <td colspan="3">No files found.</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="col-span-2">
          <strong class="mb-1 block">Batch Number / GRN</strong>
          <div class="mb-5">
            <input
              type="text"
              class="w-full"
              formControlName="batchNumber"
              (submit)="submitFilesToDestination()"
              [ngClass]="{
                       invalid: form.controls['batchNumber'].errors,
                     }"
            />
            <div class="ms-1 mt-1">
              @if(form.controls['batchNumber'].hasError('pattern')){
              <small class="text-red-500">
                You must enter a alphanumeric value.
              </small>
              }
            </div>
          </div>
        </div>

        <!-- <div>
          <strong class="mb-2 block">Use Uppercase</strong>
          <div class="mb-5 flex gap-2">
            <input type="checkbox" id="uppercase" formControlName="uppercase" />
            <small
              ><label for="uppercase"
                >Apply uppercase to Batch Number during move.</label
              ></small
            >
          </div>
        </div> -->
        <div class="col-span-2">
          <button
            class="default"
            (click)="submitFilesToDestination()"
            [disabled]="form.invalid || sharedFolderFiles().length === 0"
          >
            Submit to <strong>destination folder</strong>
          </button>
          <ul class="mt-1 ms-1">
            @if(form.controls['batchNumber'].hasError('required')){
            <li class="text-red-500">
              <small>
                You must enter a <strong>Batch Number / GRN</strong> value.
              </small>
            </li>
            } @if(sharedFolderFiles().length === 0){
            <li class="text-red-500">
              <small>
                You must have at least one file in the
                <strong>Shared Drive</strong>.
              </small>
            </li>
            }
          </ul>
        </div>
        <div class="col-span-2">
          <div class="py-2"></div>
          @if(destinationFolderFiles().length > 0){
          <div class="mb-5">
            <strong class="mb-1">Files submitted to Destination Drive</strong>
            <table class="w-full mt-1">
              <thead>
                <tr>
                  <th>File #</th>
                  <th>File Name</th>
                </tr>
              </thead>
              <tbody>
                @for(file of destinationFolderFiles(); track $index; let i =
                $index){
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ file }}</td>
                </tr>
                } @empty {
                <tr>
                  <td colspan="3">No files found.</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          }
        </div>
      </div>
    </form>
  </div>
</app-page-wrapper>
