<div class="flex h-full">
  <div class="h-full flex w-[200px] flex-col">
    <div class="flex grow flex-col overflow-y-auto px-4">
      <div class="flex py-3 justify-center items-center font-bold">
        <a routerLink="/app"> App Template </a>
      </div>
      <nav class="flex flex-1 flex-col p-2">
        <ul role="list" class="flex flex-1 flex-col gap-y-1">
          @for(l of links(); track l.id){
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li>
                <div class="font-bold text-xs">Modules</div>
              </li>
              <li>
                <a
                  [routerLink]="['/app/page-1']"
                  [routerLinkActive]="
                    'text-zinc-600 bg-zinc-300 dark:text-zinc-300 dark:bg-zinc-700'
                  "
                  class="group flex gap-x-3 rounded-md p-2 text-xs font-semibold text-zinc-700 dark:text-zinc-200 hover:dark:text-zinc-300 hover:bg-zinc-400 hover:dark:bg-zinc-900"
                >
                  {{ l.name }}
                </a>
              </li>
            </ul>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>

  <div class="grow text-xs h-full">
    <router-outlet></router-outlet>
  </div>
</div>
