<div class="flex h-full">
  <div class="h-full flex w-60 flex-col">
    <div
      class="flex grow flex-col overflow-y-auto border-r crm-border px-4 bg-zinc-100 dark:bg-zinc-800"
    >
      <div class="flex h-16 justify-center items-center">
        <a routerLink="/app">
          <img
            class="h-8 w-auto my-4"
            src="https://www.distrupol.com/site_resources/distrupol/images/Distrupol-logo2024.png"
            alt="Your Company"
          />
        </a>
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-1">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li>
                <a
                  [routerLink]="['/app/page-1']"
                  [routerLinkActive]="
                    'text-sky-600 bg-zinc-200 dark:text-sky-500 dark:bg-zinc-600'
                  "
                  class="group flex gap-x-3 rounded-md p-2 text-xs font-semibold text-zinc-700 dark:text-zinc-300 hover:dark:text-zinc-300 hover:bg-zinc-200 hover:dark:bg-zinc-600"
                >
                  stockm_ext
                </a>
              </li>
            </ul>
          </li>
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li>
                <a
                  [routerLink]="['/app/page-2']"
                  [routerLinkActive]="
                    'text-sky-600 bg-zinc-200 dark:text-sky-500 dark:bg-zinc-600'
                  "
                  class="group flex gap-x-3 rounded-md p-2 text-xs font-semibold text-zinc-700 dark:text-zinc-300 hover:dark:text-zinc-300 hover:bg-zinc-200 hover:dark:bg-zinc-600"
                >
                  slcustm_ext
                </a>
              </li>
            </ul>
          </li>
          <li class="-mx-4 mt-auto">
            <a
              routerLink="/app/my-account"
              class="flex items-center gap-x-4 px-4 py-2 text-xs font-semibold text-zinc-900 dark:text-zinc-300 hover:dark:text-zinc-300 hover:bg-zinc-200 hover:dark:bg-zinc-600"
            >
              <div class="flex gap-4 p-2 pt-[10px] align-middle text-xs">
                <div
                  class="bg-distrupol me-2 inline-flex size-6 items-center justify-center rounded-full"
                >
                  <span
                    class="text-xs font-medium text-white"
                    [title]="'distrupolpulse\\shammelburg'"
                  >
                    SH
                  </span>
                </div>
                <div class="mt-[4px] text-xs">
                  <!-- @if (common()?.firstName && common()?.lastName) { -->
                  Sander Hammelburg
                  <!-- } @else {
                    distrupolpulse\shammelburg
                  } -->
                </div>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grow text-xs bg-white dark:bg-zinc-700 h-full">
    <router-outlet></router-outlet>
  </div>
</div>
