@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  height: 100%;
}
body {
  height: 100vh;
  padding: 0;
  /* color: #282828; */
  font-size: 16px;
  font-family: "Cera", Arial, san_serif;
  line-height: 1.5;
}

.crm-icon {
  @apply text-[#00a6ce] dark:text-sky-700;
}

a.link {
  @apply no-underline text-sky-500 hover:underline dark:text-sky-600;
}

.bg-app {
  @apply bg-[#00a6ce] text-white dark:bg-sky-700;
}

hr {
  @apply border-zinc-300 dark:border-zinc-600;
}

.app-border {
  @apply border-zinc-300 dark:border-zinc-800;
}

/* ENABLES DARK MODE FOR SCROLLBAR */
.dark {
  color-scheme: dark;
}

@layer base {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"],
  input[type="month"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  select,
  textarea {
    @apply rounded-[3px] outline outline-zinc-200 px-2 py-[3px] focus:outline-blue-200 focus:outline-2;
    @apply dark:bg-zinc-800 dark:placeholder:text-zinc-500 dark:outline-zinc-600 dark:focus:outline-2 dark:focus:outline-blue-600/50 dark:border-none dark:text-zinc-300 disabled:cursor-not-allowed;
  }
  select {
    @apply border-r-8 border-r-transparent dark:border-r-8;
  }
}

input.invalid,
select.invalid,
textarea.invalid {
  @apply outline-red-300 focus:outline-red-400 dark:outline-red-900 dark:focus:outline-red-700;
}
input.input-valid {
  @apply outline-green-300 focus:outline-green-400;
}

button.default {
  @apply rounded px-2 py-[3px] text-xs text-zinc-600 transition-all border dark:border-transparent bg-zinc-50;
  @apply active:bg-zinc-300 hover:bg-zinc-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600;
  @apply dark:bg-zinc-700 dark:text-zinc-100 dark:hover:bg-zinc-600 dark:active:bg-zinc-800;
  @apply disabled:bg-zinc-700/20 disabled:cursor-not-allowed disabled:dark:bg-zinc-600/40  disabled:border-transparent disabled:text-zinc-50;
}
